<app-btn-inicio [link]="'/'"></app-btn-inicio>
<div class="container my-2">
    <div class="row gap-2">

        <div class="card col-12">
            <div class="card-body">
                <h1 class="card-title">Ofertas del día {{today | date}}</h1>
                <h3 class="card-text">Se acaban en {{hours | number:"2.0-0"}}:{{minutes | number:"2.0-0"}}:{{seconds | number:"2.0-0"}}</h3>
            </div>
        </div>

    <div class="card col-12" *ngFor="let promo of promos">
        <div class="card-body">
            <img [src]="promo.img" alt="" [alt]="promo.alt">
        </div>
    </div>
</div>
</div>