.submitbtn{
    display: flex;
    justify-content: center;
    align-items: center;
}

.span-upload{
    color:red;
    text-align: center;
}

.begin{
    width: 10%;
}

.end{
    width: 100%;
}

.img-thumbnail{
    max-width: 33.33%;
}