<br>
<h1 class="text-center"> Tu carrito de compras ({{products.length}})</h1>
<hr>
<div *ngIf="hay" class="container d-flex flex-column gap-2">
  <div class="card" *ngFor="let product of products; index as productId">
    <div class="row g-0">
      <div class="col-4">
        <img alt="description of" [title]="'imagen de' + product.nombre" [src]="firebase.obtenerImgURL(product.img1)" class="miniatura rounded-start ">
      </div>
      <div class="col-8 d-flex flex-column justify-content-between">
        <div>
          <div class="card-header d-flex justify-content-between">
            {{product.nombre}} x{{product.cantidad}}
            <i class="bi bi-x-lg" (click)="removeItem(product,productId)"></i> 
          </div>
          <div class="card-body descripcion">
            <p>
              {{product.descripcion}}
            </p>
            <p>
              {{product.precio | currencyArs}} c/u
            </p>
          </div>
        </div>
        <div class="card-container d-flex flex-column justify-content-center precio">

          <!--Botón para agregar o sacar cantidad de un producto-->
          <app-cart-add-to-button (minusItem)="minusItem($event)" (addItem)="plusItem($event)" (removeItem)="removeItemFromEmit($event)" [product]="product" [productId]="productId" [cant]="product.cantidad" class="me-2 ms-auto"></app-cart-add-to-button>

          <hr>
          <span class="me-auto ms-auto pb-2">
            
            <span class="container ps-0">
              Total = {{product.cantidad * product.precio | currencyArs}}
            </span>
          </span>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="total d-flex justify-content-between">
    <h2>Total:</h2> <h2>{{total | currencyArs}}</h2>
  </div>
  <a routerLink="/checkout" class="comprar btn btn-primary">
    <h2 >Continuar compra</h2>
  </a>
</div>
<div class="empty container d-flex flex-column text-center" *ngIf="!hay">
  <h3>Aún no agregaste artículos al carrito, ¡ve a comprar!</h3>
  <a routerLink="/store" class="btn btn-primary">Tienda</a>
</div>
<div class="blank-space"></div>
