.miniatura{
    height: 100%;
    max-width: 100%;
    width: auto;
    object-fit: cover;
}
.descripcion{
    height: auto;
}
.precio{
    font-size: 1rem;
    font-weight: 500;
}
.blank-space{
    height: 10rem;
    width: auto;
}


.add-or-minus{
    background-color: var(--main-green-light);
    border-radius: 0.375rem;
    width: 7rem;
}