<footer>
    
    <div class="accordion" id="About">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headerAbout">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseAbout" aria-expanded="false" aria-controls="collapseAbout">
                    Acerca de la página
                </button>
            </h2>
            <div id="collapseAbout" class="accordion-collapse collapse" aria-labelledby="headerAbout" data-bs-parent="#About">
                <div class="accordion-body">
                    <strong>Creditos a las imágenes</strong> 
                    <br>           
                    <a href="https://www.freepik.com/vectors/open-sign"><small>Vector de tienda creado por freepik - www.freepik.com</small></a>
                </div>
            </div>
        </div>
    </div>

    <div class="social-media">
        <i class="bi bi-facebook"></i>
        <i class="bi bi-twitter"></i>
        <i class="bi bi-instagram"></i>
    </div>
</footer>
