.whatsapp{
    position: fixed;
    z-index: 99;
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50%;
    border-width: 2px;
    border-style: solid;
    border-color:#FFDB58;
    background-color: #25D366;
    bottom: 1rem;
    right: 1rem;
}
.small{
    font-size: 1.5rem;
}

.accordion{
    margin-bottom: 3rem;
}

.accordion-body{
    padding: 16px 0 0 0;
}
.accordion-body p{
margin-left: 20px;
}

i{
    font-size: 2em;
    color: rgb(73, 73, 73);
}
#btns-list{
    grid-template-columns: 1fr;
    gap:0.5rem;
}

@media (min-width: 700px) {
    #btns-list{
        grid-template-columns: 1fr 1fr;
        gap:1rem;
    }
}