<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" routerLink="/home">
      Pensando en Casa
    </a>
    

      <div class="right-bar">
        <div class="auth">
          <app-auth0-button></app-auth0-button>
          
        </div>
        <div class="cart">
          <a routerLink="/cart">
            <i class="bi bi-cart"></i>
          </a>  
        </div>
      </div>
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav align-items-center">
          <li class="nav-item">
            <a routerLink="/store" class="dropdown-item" id="store-item">
              Ver productos
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="" onclick="alert('Todavía no creado')" class="dropdown-item">
              Promociones
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="" onclick="alert('Todavía no creado')" class="dropdown-item">
              Preguntas frecuentes (FAQ)
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="" onclick="alert('Todavía no creado')" class="dropdown-item">
              Nuestro equipo
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="" onclick="alert('Todavía no creado')"  class="dropdown-item">
              Formas de envío
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="" onclick="alert('Todavía no creado')"  class="dropdown-item">
              Información de contacto
            </a>
          </li>
          <!--
          <li class="nav-item dropdown">
            <a class="nav-item" href="#" id="navbarDropdown1" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Camas
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-item" href="#" id="navbarDropdown2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Colchones
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-item " href="#" id="navbarDropdown3" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Sábanas
            </a>
          </li> -->
        </ul>
        <hr>
        <form class="d-flex search mt-3" (ngSubmit)="onEnviar()">
          <input class="form-control me-2" type="search" [(ngModel)]="searchText" [ngModelOptions]="{standalone: true}" placeholder="¿Qué busca?" aria-label="¿Qué busca?">
          <button class="btn btn-outline-success" type="submit">Buscar</button>
        </form>
      </div>
      
    </div>
  </nav>