nav {
    background-color: #FFDB58;
    display: flex;
    max-width: 100vw;
    justify-content: center;
    background-size: 350px;
    background-position: left;
    background-repeat: repeat;
    box-shadow: 0 3px 3px 0 rgba(122, 122, 122, 0.856);
}

.navbar-toggler{
    border: 0;
}
.navbar-toggler-icon{
    color: var(--main-red);
    border-color: var(--main-red);
}



.active{
    background-color: var(--bs-blue);
}

.cart {
    padding: .25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth {
    padding: 0;
}

.nav-right {
    display: flex;
    align-items: center;
}

i {
    font-size: 1.4em;
    margin: 0.1em;
    color:black;
    text-decoration: none;
}

.nav-link {
    padding:8px 8px;
    border-radius: 5px;
}

.navbar-light .navbar-nav .nav-link.active{
    
    color: white;
}

.right-bar {
    display: flex;
}


.search {
    margin-left: auto;
    margin-right: 8px;
}

.dropdown-item{
    text-align: center;
    padding: 2px 8px;
    margin: 2px 0px;
}
.nav-item{
    color: rgb(61, 61, 61);
    width: -moz-fit-content;
    width: fit-content;
    min-width: 8rem;
    border:0px;
}

.navbar-light .navbar-nav .nav-link{
    color: black;
}

.navbar-brand{
    position: absolute;
    left: 50%;
    top:0.8rem;
    transform: translateX(-50%);
}



.brand-img{
    height: 3rem;
    width: auto;
}
.brand-img-text{ 
    
    height: 3rem;
    width: auto;
    margin-right: 0.5rem;
}

.btn-outline-success{
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.377);
    background-color: white;
}

@media (min-width: 992px){
    .navbar{
        max-height: 4rem;
    }
}