<app-btn-inicio [link]="'/'"></app-btn-inicio>
<div class="container py-4">
    <div class="row">
        <div class="col-12">

            <div class="card shadow">
                <div class="card-body">
                    <h1 class="card-title">¿Tenés alguna duda?¿Necesitás ayuda?</h1>
                    <h6 class="card-text">Podemos ayudarte, anotá ✏</h6>
                    <hr>
                    <ul class="list-unstyled card-text">
                        <li>
                            ☎ Teléfono: <a class="link-dark" href="tel:2915271778">291 5271778</a>
                        </li>
                        <li>
                            ✉ Correo: <a class="link-dark" href="mailto:pensandoencasa1@gmail.com">pensandoencasa1@gmail.com</a>
                        </li>
                    </ul>
                    <hr>
                    <h6>En caso de solicitar un reembolso ↩, por favor utilize este <a routerLink="/reembolso" class="link-danger">enlace</a></h6>
                </div>
            </div>

        </div>
    </div>
</div>
