<app-shop></app-shop>

<section id="home">
    <div id="carouselHome" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item div-mattress active product day-offer" [ngStyle]="{'background':'url(' + offers[0].img1 + ')','background-size' : 'cover'} ">
            <div class="product-body w-100">
              <span class="product-title">OFERTA DEL DÍA: {{offers[0].nombre}}</span>
              <span class="product-price">{{offers[0].precio | currencyArs}}</span>
            </div>
          </div>
          <div class="carousel-item div-mattress product" [ngStyle]="{'background':'url(' + fbStorage.obtenerImgURL(product.img1) + ')','background-size' : 'cover'} " *ngFor="let product of bestProducts">
            <div class="product-body w-100">
              <span class="product-price">{{product.precio | currencyArs}}</span>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselHome" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselHome" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
      </div>
      
    
    
  <app-que-buscas></app-que-buscas>
</section>
