<section id="home">
    <span class="main-screen">
        <a routerLink="/store" class="badge bg-secondary go-shopping">Go shopping!</a>
        <img src="../../../assets/images/mattress.webp" class="img-fluid mattress-image" alt="Matress">
    </span>
    <br>
    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum aperiam expedita pariatur dignissimos eum quisquam doloribus error! Non hic ullam sapiente doloribus possimus molestias ut, aspernatur cum, laudantium reprehenderit numquam.
    </p>
</section>
