i{
    font-size: 1.25em;
    margin: 0.1em;
    color:black;
    text-decoration: none;
}
.btn-simple{
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.377);
    padding: .30rem .75rem;
    margin: 0;
    background-color: white;
    border: 1px solid var(--main-red);
}
.btn-red{
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.377);
    background-color: var(--main-red);
    border: 1px solid black;
}

.dropdown-menu{
    z-index: 99;
}

.bg-red{
    background-color: rgb(228, 40, 40);
}

.blue-link{
    color: rgb(17, 161, 209);
    text-decoration: none;
}