<ng-container *ngIf="auth.isAuthenticated$ | async; else loggedOut">
    <div class="dropdown">
        <a class="btn btn-red" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-person"></i>
        </a>
      
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuLink">
          <li><app-user-profile></app-user-profile></li>
          <li><a class="dropdown-item" href="#">Perfil</a></li>
          <li><a class="dropdown-item" (click)="auth.logout({ returnTo: document.location.origin })">Cerrar sesión</a></li>
        </ul>
      </div>

  </ng-container>

  <ng-template #loggedOut>
    <button class="btn btn-simple" (click)="auth.loginWithRedirect()">
        <i class="bi bi-person"></i>
    </button>
  </ng-template>