<div class="d-flex justify-content-center align-items-center m-5">
  <app-spinner [loaded]="loaded"></app-spinner>
</div>

<div *ngFor="let product of products; index as productId"> <!-- Por cada producto del .json se arma una tarjeta con los atributos del producto-->
  <a [routerLink]="['/articles/article',product.id_article]" class="col-md-4">
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <img [src]="product.img1" class="img-fluid rounded-start" alt="...">
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{productId}}- {{product.nombre}}</h5>
              <p class="card-text">{{product.descripcion}}</p>
              <p class="card-text"><small class="text-muted">${{product.precio}}</small></p>
            </div>
          </div>
        </div>
    </div>
  </a>
</div>