
<div class="title">
    <h5>
        <small>
            Comprar por categorías
        </small>
    </h5>
</div>
<div class="carousel">
    <div *ngIf="!loaded" class="d-flex justify-content-center align-items-center spinner">
        <app-spinner [loaded]="loaded"></app-spinner>
    </div>
    <a class="category-item" routerLink="/articles" [queryParams]="{ category: category.id_categoria}" *ngFor="let category of categorias" [ngStyle]="{'background': 'url(' + category.img + ')'}">
        <h3>{{category.nombre}}</h3>
    </a>
</div>