<app-btn-inicio [link]="'/'"></app-btn-inicio>
<div class="container my-4">
    <div class="row">
        <div class="col-12">
            <div class="card shadow">
                <div class="card-body">
                    <h1>Políticas de privacidad</h1>
                    <h3>Para nosotros tu privacidad es muy importante, por lo tanto te lo vamos a dejar claro:</h3>
                    <ul>
                        <li>No recolectamos su información personal, excepto la que usted nos da voluntariamente, que es escencialmente importante para realizar la entrega de sus compras</li>
                        <li>No usamos ni almacenamos datos que no sean necesarios para iniciar sesión o comprar algún artículo.</li>
                        <li>No utilizamos rastreadores.</li>
                        <li>Las únicas cookies que tenemos funcionando son necesarias para iniciar sesión, si usted no inicia sesión entonces no almacenaremos ninguna cookie por nuestra cuenta</li>
                        <li>Solo le transferimos su información de contacto a MercadoPago a fin de realizar una transacción correcta</li>
                        <li>No nos responsabilizamos por los rastreadores que usted trae de otras páginas web.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
